.jumbotron {
  padding-top: 100px;
  background-color: #2a0944;
}

#prestasi {
  background-color: #3fa796;
}

#social {
  padding: 100px;
  background-color: #fec260;
}

footer {
  background-color: #100720;
}
section {
  padding-top: 5rem;
}
